---
import { getAllYearGroups, getYearGroupHref } from "../lib/edition";

const groups = await getAllYearGroups();
---

<header>
    <div class="">
      <a class="" href={getYearGroupHref(groups[0]?.id ?? "1756-1770")}>
        J.M.R. Lenz - Briefe
      </a>
    </div>
</header>
