---
import type { LetterPageData } from "../lib/edition";

type Props = {
  page: LetterPageData;
};

const { page } = Astro.props;
---

<section class="flex flex-row" aria-labelledby={`page-${page.page}`}>
  <div class="grow-0 shrink-0 w-12">
    <p class="">{page.page}</p>
  </div>
  <div class="grow">
    <article class="" set:html={page.textHtml} />
  </div>
	<div class="grow-0 shrink-0 w-64">
    {page.sidenotes.length > 0 && (
      <aside class="">
        <div class="">
          {page.sidenotes.map((note) => (
            <section class="">
              <div class="" set:html={note.html} />
            </section>
          ))}
        </div>
      </aside>
    )}
    {page.sidenotes.length === 0 && <div class="" aria-hidden="true"></div>}
	</div>
</section>
