---
type Props = {
  pages: string[];
};

const { pages } = Astro.props;
---

<div class="relative min-h-full" data-page-rail aria-label="Seiten" data-pagefind-ignore>
  {pages.map((page) => (
    <div
      class="absolute left-0 w-full pr-2 text-right data-[positioned=false]:invisible"
      data-anchor-id={`page-${page}`}
      data-align="bottom"
      data-positioned="false"
    >
      <span>{page}</span>
    </div>
  ))}
</div>
