---
import type { SidenoteRecord } from "../lib/edition";

type Props = {
  notes: SidenoteRecord[];
};

const { notes } = Astro.props;
---

<div
  class="relative min-h-full max-[980px]:static max-[980px]:col-start-2 max-[980px]:mt-6"
  data-sidenote-rail
  aria-label="Randnotizen"
>
  {notes.map((note) => (
    <section
      class="absolute left-0 w-full data-[positioned=false]:invisible max-[980px]:static max-[980px]:mt-4 max-[980px]:visible"
      data-anchor-id={`anchor-${note.id}`}
      data-align="top"
      data-positioned="false"
    >
      <div set:html={note.html} />
    </section>
  ))}
</div>
