---
type Props = {
  html: string | undefined;
};

const { html } = Astro.props;
---

{html && (
  <section class="" aria-labelledby="traditions-heading">
    <div class="">
      <p class="">Überlieferung</p>
      <h2 class="" id="traditions-heading">Tradition</h2>
    </div>
    <div class="" set:html={html} />
  </section>
)}
