<section class="complementary-material" id="lkb-brieffragmente-1">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 7n:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Ich hoffe Sie werden die wahre Absicht meines Raths durchsehen daß um zum Zweck zu gelangen, man auch Mittel gebrauchen müsse und <span class="ul">Mittel</span> die nicht Zweck sind. Es ist <span class="ul">nur Gott</span> und der Verstand eines <span class="ul">Gottes</span> der Mittel auch zu Zwecken macht.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-brieffragmente-2">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 37, Briefumschlag II, Bl. 5; recto Verse in frz. Sprache; verso Notizen von Lenz sowie Brieffragment von unbekannter zg. Hand; Lenz benutzte den freien Raum eines vmtl. an ihn gerichteten Briefs zur Niederschrift von Notizen/Exzerpten:</p>
  <p class="material-label">verso (Lenz):</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Stand argumentum. Kann ich jemand zwingen, glücklich zu seyn? nein, das Glück liegt in der Einbildung, die ich von der Sache habe. Gegen Ott so erfunden Religio spontaneitas ist die Grundlage opponionis alles Glücks. Also nichts magistratur, das mich zwingen kann Ehenmann zu bleiben. Index soll allerdings nicht über moralitatem u felicitatem der Ehe jujiren. Ehe ist freiwiliige Zusammentretung. Index ist nichts als mitnichten wenn die Saat auseinander treten wollen zu observiren daß alles recht u gerecht dabei zugehn. Die Scheidbarkeit ist in foro conscientiae – also vornehmlich durch Gericht</div>
    <div class="lb-line-block">Die Damna so groß nicht wenn die Leute erst den Vortheil einer einigen Verbindung wissen</div>
    <div class="lb-line-block">Kirchenbuß excominunicatur: für den sich jedermann in Acht nimmt</div>
  </blockquote>
  <p class="material-label">verso (femde Hand):</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span class="hand" data-hand-style="second">zu büschen in der blum daß erste mahl noch zu fragen wenn Sie dem Bürchschen nicht schon unterwegs begegnen .. und wann er da nicht ist, daß Schmidt in Straßburg der kleinen matz in July zu stellen: Wissen sie glücklich</span></div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-brieffragmente-3">
  <p class="material-source">Krakau, Lenziana 3, 31v, abgerissener Zettel mit Notizen; Briefentwurf von Lenz’ Hand:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">So seltsam es <span class="tl"></span> daß ich mich so spät für <span class="tl"></span> Ihnen dankbar zu <span class="tl"></span> muß ich verschicken <span class="tl"></span> wäre</div>
  </blockquote>
</section>
