<section class="complementary-material" id="lkb-briefplaene-1">
  <p class="material-source">Kraków, Biblioteka Jagiellonska, Lenziana 2, Nr. 10b; wohl 1776, Weimar; Berka; ein doppelseitig beschriebenes Blatt mit einer Vielzahl verschiedenartiger Notizen; hier nur die mit explizitem Briefbezug:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Goethens Claudier an Frl. W</div>
    <div class="lb-vspace" data-lines="1" data-presentational="true" style="height: 1lh" aria-hidden="true"></div>
    <div class="lb-line-block">Vornehmen</div>
    <div class="lb-line-block">An Röderer schreiben wegen Beckmann Leipz. Magister fragen nach 2ten Theil der Instruktion sagen er soll Otto und Hafner fragen ob sie mir von ihren Sachen was zuschicken wollen für die 3 Journale.</div>
    <div class="lb-line-block">neuen Merkur schicken</div>
    <div class="lb-line-block">Reichard schreiben wegen Claudiern</div>
    <div class="lb-line-block">Jacobi Soldaten schicken</div>
    <div class="lb-line-block">Falmern schreiben</div>
    <div class="lb-line-block">Goethen fodern den tugendhaften Taugenichts</div>
    <div class="lb-line-block">das Feenmährgen</div>
    <div class="lb-line-block">Herzogin Regierende Soutier mordore u. Ramond, Herzog den Yarvos</div>
    <div class="lb-line-block">Salzmann schreiben daß Goethe Legati.</div>
    <div class="lb-line-block">An meinen Vater schreiben wenn ich aus Weymar gehe</div>
    <div class="lb-line-block">Ligurier an Boje.</div>
    <div class="lb-line-block">Röder schreiben er soll den Mayor A...</div>
    <div class="lb-line-block">Jgfr König für Waldn geben</div>
    <div class="lb-line-block">Jacobi etwas in die Zeit schicken</div>
    <div class="lb-line-block">Goethe mir einladen wenn Spener durchgeht ihn herschicken.</div>
    <div class="lb-line-block">Wenn Soldaten aufkommen soll er einen an Jakobi schicken.</div>
    <div class="lb-line-block">den Merkur dem Bürgerfreund Türkheim</div>
    <div class="lb-line-block">Arnswald etwas schicken u sehr höfl. schreiben u. grüßen</div>
    <div class="lb-line-block">An den jungen Witinghof schreiben mir nichts dir nichts</div>
    <div class="lb-line-block">Durch Herder und Hartknoch oder durch Spener und sie etwas an meine Schwester Lisgen schicken, etwa das Familiengemälde oder die Laube oder sonst etwas Gutes. Schönes.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-2">
  <p class="material-source">Latvijas Akadēmiskā Bibliotekā Riga, Ms. 1113, F. 25, V. 33, Nr. 8; Weimar; Berka, vgl. Gregor Babelotzky: Jakob Michael Reinhold Lenz, „Kann Er auch zeichnen?“. Skizzen aus dem Nachlass. Hannover: Wehrhahn 2021, Abb. 26:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Wenn ich Explare des Allmanachs erhalte sie schiken durch Salzmann</div>
    <div class="lb-line-block">1. Der Mlle de Müralt</div>
    <div class="lb-line-block">2. Frau v. Oberkirch</div>
    <div class="lb-line-block">3. Türkheim</div>
    <div class="lb-line-block">4. Major Arenswalde selbst eingeschrieben nebst einem Briefe</div>
    <div class="lb-line-block">5. La Roche mit einem Brief – Katastrophe meiner Comödie</div>
    <div class="lb-line-block">6. Pirk mit einem Briefe.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-3">
  <p class="material-source">Kraków, Biblioteka Jagiellonska, Lenziana 4, 4, 24r, vgl. Schriften zur Sozialreform, Band 1, S. 191:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">an <em>Liskow </em>schreiben</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-4">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 8, vgl. Schriften zur Sozialreform, Band 1, S. 407:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Daß ich Kaisers Brief mitnehme u. Bojens vom wilden Jungen. Um mich zu rechtfertigen daß die Wolken hätten gedruckt werden können.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-5">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 7e, Sp. Abschrift von drei Lenzschen Notizen, vgl. Schriften zur Sozialreform, Band 1, S. 406:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">An Schlosser schreiben er möcht mir die Copie von Prinz Friedrichs Brief mitbringen, und eine Copie von Lind. Brief Kaufm. Brief copiren für Pfeffel. Das Kofferschloss vorm Mantelsack Maylied Kaiser schicken.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-6">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 8, 7, vgl. Schriften zur Sozialreform, Band 1, S. 408:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Von Darmstadt Schlosser schreiben ob lindau ihn bezahlt</div>
    <div class="lb-line-block">Nichts weiter als eine Recommendation vom herzog an st Germain. da itzt die Franzosen zusehen müssen ists Zeit st Germain muß Guibert hervorziehen</div>
    <div class="lb-line-block">An Lindau erst schreiben wn ich von Schlossern Antwort hab.</div>
    <div class="lb-line-block">Durchl. haben die letzten Tage inneres Poeten verleidet helfen p. hier ist sie.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-7">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 7g, zugeschnittener Zettel:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span class="pe">an La Roche zu schreiben eh ich nach Amerika gehe was ich für einen Gebrauch von dem Bande gemacht. Sie bitten den Brief, den es begleitet Frl. Waldner zu zuschicken u. ihr ihre Adresse <del>zu </del>geben, um die ich Mademaiselle König bitten muß.</span></div>
    <div class="lb-line-block"><span class="ink">Mein Billet schick ich ihr selbst zu auf der Post. <span class="note">mit Tinte, voriges mit Bleistift</span></span></div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-8">
  <p class="material-source">Kraków, Biblioteka Jagiellonska, Lenziana 4, 4, 7r, Notizen zur Militärreform, vgl. Schriften zur Sozialreform, Band 1, S. 171, Bezug auf Brief von Lenz an Goethe vom 27. Juni 1776:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Büschigs-Geographie</div>
    <div class="lb-line-block">Geschichte des letzten Krieges</div>
    <div class="lb-line-block">nutz wegen Catharina</div>
    <div class="lb-line-block">Abbé St Pierre</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-9">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 32, 63r, vgl. Schriften zur Sozialreform, Band 1, S. 405:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Dem alten V. ein Explar meiner Sold. schicken sauber gebunden</div>
    <div class="lb-line-block">Auch ein Fam. gemählde – Viett. Eins St. G. zu überreichen</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefplaene-10">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 33, Nr. 8 (1–2):</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Daß ich Kaisers Brief mitnehme und Bojens vom wilden Jungen. Um mich zu rechtfertigen daß die Wolken hätten gedruckt werden können</div>
  </blockquote>
</section>
