<section class="complementary-material" id="lkb-briefumschlaege-1">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 37, Briefumschlag I, Bl. 7 (Weimar; Siegel „S“):</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">will versuchen ob ich einem Bauerbuben das Exerziren spielend beybringen kann. (wegen der Unterrichtsschule) (es beym Hauptmann lernen) lieber vor Geld</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-2">
  <p class="material-source">Riga, Latvijas Akadēmiskā Bibliotekā, Ms. 1113, F. 25, V. 37, Briefumschlag II, Bl. 4, vgl. Gregor Babelotzky: J. M. R. Lenz als Prediger der „weltlichen Theologie“ und des „Naturalismus“. Wechselwirkungen zwischen Prediger und Dichter in Biographie und poetischem Schaffen. Göttingen: Wallstein 2019, S. 253:</p>
  <p class="material-source">Schwer entzifferbare Notizen von Lenz zu „Tobbi eine Fastnachtslustbarkeit“; auf der Rückseite eines an Johann Georg Schlosser adressierten Briefcouverts mit der Aufschrift von zg. Hand</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span lang="fr">A Monsieur Monsieur Schlosser Conseiller Antique de d. A. sume z Monsigneur Le Marggrave de Baden Durlach a Emmendingen</span></div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-3">
  <p class="material-source">Krakau, Lenziana 2, Nr. 2, 1 abgerissener Halbbogen, adressiert an Madame de Oberkirch; ausgeschnittenes Siegel, deutsche und französische Notizen:</p>
  <p class="material-label">Adresse:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span lang="fr">Madame de Oberkirch nee de Waldner a Strasbourg</span></div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-4">
  <p class="material-source">Krakau, Lenziana 2, Nr. 10h, abgerissener Briefumschlag mit Siegel:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span class="nr" data-extent="4" style="--extent: 4"></span> ein Paket abwarten Weil die deutsche Sprache das Verbum hintan setzt, so können die Deutschen besser combiniren und denken die Franzosen besser hüpfen vergleichen u. mitgehn Immer die eine die männliche die andre die weibliche Sprache</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-5">
  <p class="material-source">Krakau, Lenziana 3, Bl. 18, Briefumschlag mit Einrissen und Siegelrest, mit Notizen, vgl. Schriften zur Sozialreform, Band 1, S. 238f.</p>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-6">
  <p class="material-source">Krakau, Lenziana 3, Bl. 20, Briefumschlag mit Siegelrest, mit Notizen, vgl. Schriften zur Sozialreform, Band 1, S. 240:</p>
  <p class="material-label">Adresse:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">An Herrn Lenz in Berka. nebst einem Päkchen Bücher, H. L. bezeichnet.</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-7">
  <p class="material-source">Krakau, Lenziana 3, Bl. 33, Briefumschlag mit Einrissen und Siegelrest, mit Notizen, vgl. Schriften zur Sozialreform, Band 1, S. 256:</p>
  <p class="material-label">Adresse:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block">Herrn Lenz <span class="nr" data-extent="4" style="--extent: 4"></span> eigenhändig</div>
  </blockquote>
</section>

<section class="complementary-material" id="lkb-briefumschlaege-8">
  <p class="material-source">Krakau, Lenziana 3, Bl. 34, Abriss eines Briefumschlags, Siegelrest; mit Notizen, vgl. Schriften zur Sozialreform, Band 1, S. 256f.:</p>
  <p class="material-label">Adresse:</p>
  <blockquote class="edition-text material-transcription">
    <div class="lb-line-block"><span lang="fr">A <span class="tl"></span> Monsieur <span class="tl"></span> Conseiller de la <span class="tl"></span> tions <span class="tl"></span></span></div>
  </blockquote>
</section>
